.App {
  text-align: center;
  background-color: #F6F6F4;
  min-height: 100vh;
  margin: 40px;
  
}
.css-17z57jz-MuiDataGrid-root{
  
  background-color: white;

}
.css-99lfi7-MuiDataGrid-columnsContainer{
  background-color: #676F8E;
  color: white;
}
.css-17z57jz-MuiDataGrid-root .MuiDataGrid-iconSeparator{
  color: #676F8E !important;
}
#panel{
  padding-top: 30px;
  background-color: #5d4e88;
  
}
#entire-table{
  
  min-height: 80vh;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.css-1uzrzkv-MuiGrid-root{
  padding: 1.5em;
}



